@use "../../styles/partials/resets";
@use "../../styles/partials/typography";
@use "../../styles/partials/media-queries" as *;
@use "../../styles/partials/variables" as *;

.profile-form {
  background: rgba(183, 181, 181, 0.87);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(183, 181, 181, 0.56);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0.5rem;

  @include tablet {
    border-radius: 1.6rem;
    margin: 1rem;
    flex-direction: column;
    max-width: 100%;
    gap: 3rem;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }

  &__label {
    font-size: small;
    color: black;
  }

  &__input {
    padding: 0.5rem 1rem;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__submit {
    margin-top: 1rem;
    width: 80%;
    display: flex;
    justify-content: right;
    &-button {
      padding: 0.5rem 1rem;
      width: 40%;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      &:hover {
        background: rgba(255, 255, 255, 1);
      }
    }
  }
  &__error {
    color: #660000;
    font-weight: 600;
    font-size: 1.2rem;
  }
}
